<meta charset="utf-8"/>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDK9wniZkvOlacVZnMGFBp900wKs3wNhMg"></script>
Lat:
<input id="lat" name="lat" val="6.919394778831048" />Long:
<input id="long" name="long" val="79.8598900437355" />
<br />
<br />
<div id="map_canvas" style="width: 1200px; height: 800px;"></div>

<script>

var map;
var marker;

function initialize() {
  var myLatlng = new google.maps.LatLng(6.919394778831048, 79.8598900437355);

  var myOptions = {
    zoom: 8,
    center: myLatlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  
  map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  marker = new google.maps.Marker({
    draggable: true,
    position: myLatlng,
    map: map,
    title: "Your location"
  });

  google.maps.event.addListener(marker, 'dragend', function(event) {
    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("long").value = event.latLng.lng();
  });

    google.maps.event.addListener(map, 'click', function(event) {


    document.getElementById("lat").value = event.latLng.lat();
    document.getElementById("long").value = event.latLng.lng();
    marker.setPosition(event.latLng);
  });
}
google.maps.event.addDomListener(window, "load", initialize());


</script>